# uncomment env variables when you are ready to use this file
# protip:  it's good to get in the habit of using it during development

#DJANGO_SECRET_KEY=CHANGEME!!!
#DJANGO_DEBUG=True
#DJANGO_DATABASE_URL=postgres://{{cookiecutter.db_user}}:{{cookiecutter.db_password}}@{{cookiecutter.db_host}}/{{cookiecutter.db_name}}
#DJANGO_ALLOWED_HOSTS=[*]
#DJANGO_STATIC_ROOT=
#DJANGO_STATIC_URL=
#DJANGO_MEDIA_ROOT=
#DJANGO_MEDIA_URL=
