# uncomment env variables when you are ready to use this file
# the django database url's host in form 0.0.0.0 because it is an IP addr placeholder

DJANGO_DATABASE_URL=postgres://{{cookiecutter.db_user}}:{{cookiecutter.db_password}}@0.0.0.0/{{cookiecutter.db_name}}
DJANGO_DEBUG=True
DJANGO_SECRET_KEY=CHANGEME!!!
DJANGO_ALLOWED_HOSTS=[*]

# DJANGO_STATIC_ROOT=
# DJANGO_STATIC_URL=
# DJANGO_MEDIA_ROOT=
# DJANGO_MEDIA_URL=
